.daily-box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 310px;
  height: 150px;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  gap: 8px;
}

.exchange-date {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #07B0FB;
}

.difference-row {
  display: flex;
  align-items: center;
}

.card-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-information {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
}

.card-text {
  font-size: 11px;
  font-weight: 500;
  color: #3F3F3F;
  margin-right: 14px;
}

.card-value {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #3F3F3F;
}

.angle-icon {
  font-style: normal;
  font-size: 24px;
}
